body {
	background-image: -webkit-canvas(canvasB);
	background-image: -moz-element(canvasB);
}

#canvasB {
	top: 0;
	position: fixed;
	z-index: -1;
}

.foglio {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1em auto 1em;
	max-height: 600px;
	max-width: 600px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.85);
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 1.2em;
}
div {
	padding: 15px;
}
.title {
	text-align: center;
	text-transform: uppercase;
	color: #DC3D24;
	font-size: 2em;
}
